## Question 1

From all these 7 options,

*, -, /, + are expressions(math operators)

-87.8, "hello", 6 - is a value(float datatype), string and value respe ctively

## Question 2

1)
The difference is String is a collection/combination of different characters or tokens, which are basically the smallest individual units that exists in python language, whereas variables are named memory locations given by the programmer/user to the system

2)
String is enclosed within single or double quotes, whereas  variables are not enclosed.

3)
Variables cant be only numerical(ex:2=45) but on the other hand, anything can be considered as string :alphabets, mathematical operators, numbers, symbols etc(as long as it is enclosed within quotes)

4) Variables are used to store data, whereas string datatype doesnt store any data 

5)
Whenever 2 variables are combined with "+" sign, there may or may not be an error that is thrown, depending on the datatype of those 2 variables and whether those data are compatible with each other or not

Ex1:
a,b=4,6 
c = a+b
This will not throw an error

In [15]:
Ex1:
g="hello"
m=78
l=g+m

# but this thows a syntax error due to incompatibility of datatypes

SyntaxError: invalid syntax (<ipython-input-15-cdc8ee31604a>, line 1)

Whenever 2 string are combined with "+" sign, they get concatenated without displaying any error

In [16]:
# Ex:
"i" + "Neuron"

'iNeuron'

## Question 3

3 datatypes:-

String :-They are the collection/combination of different characters or tokens, which are basically the smallest individual units that exists in python language, enclosed within quotes. Ex :"Data" 

Integers :- They include only the numerical data, positive or negative whole numbers(including 0), which do not have fractional part. Ex:90

Float:- The float type in Python represents the floating point number, which are a type of numerical datatype which may or may not consists of a fractional or exponential part. They occupy a more memory space than the Integer datatype. Ex: 90.88

## Question 4

An expression is actually an amalgamation of operators and operands that is either used for producing a feasible outcome, which may or may not be stored in a variable . It may be utilized for a string, character or a numerical datatype.

Their main pivotal function is to perform a certain task in order to produce a sustainable and workable outcome.

In [17]:
# EXAMPLE of Line 1,2,3 for expression below:

a= "hello"
b = " World"
c = a+b
print(c)

hello World

## Question 5

An expression is actually an amalgamation of operators and operands, which evluate something in order to produce a result, but statement is instruction that a Python interpreter executes, basically ,we can say anything written in Python is a statement.
ex:c=7+8

Those scripts can be called statements that can be used for assigning values to a variables, whereas expressions cannot.
ex:a=10

Those scripts can be called statements that are used for declaring or instantiating a variable's type whereas expressions cannot.
ex: lst = []

In this assignment statement, spam = 10 here the variable spam is been declared and assigned a integer value of 10 and since no mathematical operation is included, thats why spam =10 is not an expression

## Question 6

In [18]:
bacon = 22
bacon+1

23

In [19]:
#bacon value is 23

## Question 7

In [20]:
'spam'+'spamspam'

'spamspamspam'

In [21]:
'spam'*3

'spamspamspam'

In [ ]:
#both give same output, but in first case the 2 strings are concatenated and in second ase, 
#the entire string is duplicated by 3 times and then concatenated

## Question 8

Variable names can start with or entirely be in text form, but the same is not applicable wrt numbers. Variable names in python are not allowed and considered invalid, to start with or be numerical, so thats the reason why "eggs" ,being textual, has valid variable name while 100 is invalid.

## QUESTION 9

int() , float() , and str( ) functions respectively

Since numbers cannot be concatenated unlike string but only added, so if a number is placed in between strings, it will obviously show an error.

In [26]:
'I have eaten'+ 99 +'burritos'

TypeError: can only concatenate str (not "int") to str

Error can be resolved by either deleting the number 99, or enclosing the number 99 within quotes, so that interpreter considers that as a string(and not integer) and it can be sucessfully concatenated to give one complete sentence(string).

In [27]:
'I have eaten'+' 99 '+'burritos'

'I have eaten 99 burritos'